.separador{
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 95%;
    align-items: center;
    align-content: center;
    margin: 20px;
}

.separador_linea{
    height: 200px;
    flex-grow: 1;
    height: 1px;
    background-color: #fb0000;
    margin-left: 10px;
    margin-right: 10px;
}