@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.footer{
    background-color: #1b1b1b;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.footer_contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
}

.footer_versiculo{
    margin: 20px;
    font-size: 18px;
}

.footer_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}

.footer_ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_telefono, .footer_correo, .footer_pregunta{
    display: flex;
    gap: 10px;
}

.footer_derechos{
    background-color: #141618;
    padding: 25px;
    font-size: 15px;
}

.footer_derechos p{
    text-align: center;
    line-height: 2;
}

.footer_derechos span{
    color: yellow;
    margin-left: 3px;
}