@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.footer{
    background-color: #002984;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.footer_contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
}

.footer_versiculo{
    margin: 20px;
    font-size: 18px;
}

.footer_contacto{
    display: flex;
    flex-direction: column;
    padding: 12px 40px;
}

.footer_telefono, .footer_correo{
    display: flex;
    gap: 10px;
}

.footer_ubicacion{
    display: flex;
    padding: 12px 40px
}