@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.hero_home{
    background-image: linear-gradient(
        0deg,
        rgba(101, 111, 255, 0.5),
        rgba(101, 111, 255, 0.5)
    ),
    url('https://static.cdn.pleno.news/2020/06/igrejacbrio_103410732_3194986280727106_2250403420047128589_n-768x512.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    height: 500px;
}

.hero_home__titulo{
    font-size: 60px;
    text-align: center;
    color: #fff;
    font-family: 'Lobster', cursive;
}

.hero_home__subtitulo{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
}