/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.img_logo{
    height: 200px;
    padding: 30px;
}

.menu_lista{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.menu_items,
.menu_items-dropdown {
   position: relative;
}

.menu_items-dropdown .menu_lista-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    background-color: aqua;
    border-radius: 10px;
}

.menu_lista-dropdown:hover {
    display: none;
}

.menu_items-dropdown {
    display: block;
    padding: 10px;
}

.menu_items-dropdown:hover>.menu_lista-dropdown {
    display: block;
    background-color: #1b1b1b;
}

